.Logo {
    display: flex;
    align-items: center;
    width: auto;
    height: 80%;
}
.Logo img {
    width: auto;
    height: 100%;
    margin-right: 30px;
}
.Logo span {
    color: white;
    display: inline-block;
}